:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

.intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.intro p {
  line-height: 1.5;
  font-size: 1rem;
}

.name {
  font-family: "Oxygen Mono", monospace;
}

.name span {
  font-family: "Oxygen", sans-serif;
  font-size: 34px;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

.intro h2 {
  font-size: 34px;
  font-weight: normal;
}

.contact p{
  padding: 25px 0px;
  max-width: 400px;
  margin: 0 auto;
}



.contact {
  text-align: center;
  margin: 0 auto;
  padding-top: 3rem ;
  padding-bottom: 3rem ;
}

.contact p:last-child {
  margin-top: 1.5rem;
}

.section-plum {
  background-color: var(--plum);
}

.section-dkblue {
  background-color: var(--dkblue);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}



.navbar {
  font-family: "Oxygen Mono", monospace;
  font-size: 80%;
  padding: 1rem;
}

.navbar h1 a {
  font-family: "Oxygen", sans-serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

.navbar a:hover,
.navbar [class*="fa-"]:hover {
  color: var(--magenta);
}

.navbar li:first-child {
  flex-basis: 100%;
  text-align: center;
}

.navbar [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

.navbar h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

.button {
  background-color: var(--magenta);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Oxygen Mono", monospace;
  text-decoration: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

.footer {
  text-align: center;
  padding: 4rem 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

.projects {
  padding: 4rem 1rem;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

.projects h3 {
  color: var(--aqua);
}

.projects h4 {
  font-size: 1rem;
  font-family: "Oxygen Mono", monospace;
  margin: 0;
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

img {
  width: 100%;
}

.projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}
@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  .projects {
    max-width: 1200px;
    margin: 0 auto;
  }

  .projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  .projects ul {
    justify-content: flex-end;
  }

  .projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  .projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  .projects .reverse ul {
    justify-content: flex-start;
  }
  .name span{
    font-size: 64px;
  }
  .intro h2 {
    font-size: 64px;
    font-weight: normal;
  }
}


@media (min-width: 850px) {
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
  }
  .navbar li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

}
